<div id="classes_container" class="container-fluid">
  <h3>My Classes</h3>
  <div class="row">



    <div class="classes col-xs-12 col-sm-3">
      <div class="class_name">
        Class Name
      </div>
      <div class="recent_questions">
        <b> Most recent question:</b>
        <p>"when is the homework assignment due by?"</p>
        by <b>Name Here</b> <Br/>
        posted <b>two hours ago</b>
      </div>
    </div>

    <div class="classes col-xs-12 col-sm-3">
      <div class="class_name">
          Class Name
      </div>
      <div class="recent_questions">
        <b> Most recent question:</b>
        <p>"when is the homework assignment due by?"</p>
        by <b>Name Here</b> <Br/>
        posted <b>just now</b>
      </div>
    </div>

    <div class="classes col-xs-12 col-sm-3">
      <div class="class_name">
        Class Name
      </div>
      <div class="recent_questions">
        <b> Most recent question:</b>
        <p>"when is the homework assignment due by?"</p>
        by <b>Name Here</b> <Br/>
        posted <b>12 minutes ago</b>
      </div>
    </div>

    <div class="classes col-xs-12 col-sm-3">
      <div class="class_name">
        Class Name
      </div>
      <div class="recent_questions">
        <b> Most recent question:</b>
        <p>"when is the homework assignment due by?"</p>
        by <b>Name Here</b> <Br/>
        posted <b>two days ago</b>
      </div>
    </div>
  </div>
</div>


