<div id="classes_container" class="container-fluid">
  <h3>My Classes</h3>
  <div class="row">
    <% current_user.schedules.each do |schedule| %>
        <div class="classes col-xs-12 col-sm-3">
          <div class="class_name">
            <%= schedule.course.course_name %>
          </div>
          <div class="recent_questions">
            <b> Most recent question:</b>
            <p>"when is the homework assignment due by?"</p>
            by <b><%= schedule.user.first_name %></b> <Br/>
            posted <b>two hours ago</b>
          </div>
        </div>
    <% end %>
  </div>
</div>


