body{
    padding-top: 75px;
}


.sf-menu{
    float: right;
}

.sf-menu li {
    list-style-type: none;
    float: right;
    text-align: center;
    width: 100px;
}

.sf-menu li:hover {
    background-color: #ddd;
}

.sf-menu a {
    text-decoration: none;
    color: darkblue;
    display: block;
}


.navbar-header{
    height: 75px;
}

#classes_container{
    width: 90%;
    padding-left: 5%;
}

#classes_container h3{
    color: darkblue;
    padding: 5px;
    border-bottom: 2px solid #000;
}

.classes{
    font-family: Helvetica, Arial, sans-serif;
    border: 2px solid #000;
    border-radius: 3px;
    margin: 5px;
    float: left;
}

.class_name{
    padding: 5px;
    border-bottom: 2px solid #000;
}

.recent_questions{
    padding: 5px;
}
.account-icon, .dashboard-icon, .map-icon{
    width:25px;
    height:25px;
}
.navbar-brand>img{
    width:50px;
}

.dropdown-menu{
  min-width: 50px;
  margin: 0;
  padding: 0;
}

.dropdown-menu li{
    text-align: left;
}