/* Background Image of entire page */
#login-page{
    background: #ffffff url("background-beach.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#login-page .container{
    margin-top:12.5%;
}
/* Background Image of Login form area */
#login{
    background-color:rgba(0,0,0,0.29);
    overflow:auto;
    padding:20px;
}
/* Logo/Company name row */
.logoContainer{
    text-align: center;
}

#login>.row{
    margin-bottom:35px;

}
/* login form field */
#user_email,#user_password, #user_password_confirmation, #user_first_name, #user_last_name, #user_current_password{
    width:25%;
    min-width: 200px;
    max-width: 300px;
    border:none;
    border-radius: 2px;
    color: #000;
    background-color: #ddd;
    opacity: 0.82;
    height:30px;
    padding-left:20px;
}
#BackToDash a{
    color: orange;
    background-color: #fff;

}

.field{
    /*height: auto;*/
}
::-webkit-input-placeholder {
    color: #312e2e;
}

:-moz-placeholder { /* Firefox 18- */
    color: #312e2e;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #312e2e;
}

:-ms-input-placeholder {
    color: #312e2e;
}
#login .field a{
    color:#fff;
}

.actions{
    margin-top: 30px;
}

.actions input,.actions button{
    width:25%;
    min-width: 100px;
    max-width: 150px;
    border:none;
    border-radius: 10px;
    color: #000;
    background-color: #9d9d9d;
    opacity: 0.82;
    height:30px;
}
.actions button a{
    color:#000;
}
.actions button a:hover{
    text-decoration: none;
}
.actions input:hover, .actions button:hover{
    background-color: #ddd;
}
.twitter{
    margin-left:25px;
}
#copyright{
    display:inline-block
}
.login-footer{
    padding:0;
    color:#fff;
}
.render_links a{color:#fff;}
.render_links a:hover{color:#fff;}
a.login-footer:hover{
    color:#fff;
}
/* change is made here*/