<!DOCTYPE html>
<html>
<head>
  <title>Agile Missfits</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'login-screen'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="login-page">
<%= yield %>
</body>
</html>